$primary-accent-color :  #56ffcc;
$secondary-accent-color: #e0e5f5;
$secondary-accent-color2: #ccd6f6;
.body {
  overflow-x: hidden;
}
.main-container {    
  background-image: linear-gradient(to bottom right, #00002d, #141E61);
  padding: 2%;
  min-height: 100vh;
  color: $secondary-accent-color;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  // font-family: 'Quicksand', sans-serif;
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Merriweather', serif;
  // font-family: 'Rubik', sans-serif;

  .left-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .middle-container { 
    display: flex;
    flex-direction: column;
    width: 80vw;
    .banner {
      margin-left: 2%;
      height: 45vh;
      font-family: 'Quicksand', sans-serif;
      .salutation {
        font-size: 4vmin;
        font-weight: 300;
        color: $secondary-accent-color2;
      }
      .primary-text {
        font-size: 10vmin;
        font-weight: 300;
        color: $primary-accent-color;
      }
      .secondary-text {
        font-size: 3vmin;
        font-weight: 300;
        display: flex;
        color: $secondary-accent-color2;
        width: fit-content;
      }
      .intro {
        width: 60vw;
        font-size: 3vmin;
        padding: 20px 0;
      }
    }
  
    .secondary-container {
      margin-left: 2%;
      font-family: 'Rubik', sans-serif;
      .section-container {
        float: left;
        width: 75vw;
        .section-header {
          font-size: 5vmin;
          color: $primary-accent-color;
        }
      }
    }
    .footer {
      font-family: 'Rubik', sans-serif;
      font-size: 2vmin;
      display: flex;
      margin-top: 8vh;
      color: $secondary-accent-color2;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      margin: 8em 0 0;
      .icons{
        font-size: 3vmin;
        margin: 3vh;
        color: $secondary-accent-color;
        &:hover {
          color: $primary-accent-color;
          cursor: pointer;
        }
      }
      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 105px;
        margin: 0px auto;
        background-color: $primary-accent-color;
      }
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 105px;
        margin: 0px auto;
        background-color: $primary-accent-color;
      }
    }
  }

  &.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./layer-back.svg');
  }


}
@media only screen and (max-width: 600px) {
  .main-container {
    padding: 10% 3%;
    .banner {
      height: 35vh;
      .intro {
        width: 75vw;
      }
    }
  }
}
