.body {
  overflow-x: hidden;
}
.main-container {    
  background-image: linear-gradient(to bottom right, var(--background-gradient1),var(--background-gradient2));
  padding: 2rem 1rem;
  min-height: 100vh;
  color: var(--secondary-accent-color);
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  // font-family: 'Quicksand', sans-serif;
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Merriweather', serif;
  // font-family: 'Rubik', sans-serif;

  .icons{
    font-size: 3vmin;
    margin: 3vh 2vh;
    color: var(--secondary-accent-color);
    &:hover {
      color: var(--primary-accent-color);
      cursor: pointer;
    }
  }

  .left-container {
    width: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .navbar{
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      position: fixed;
      height: -webkit-fill-available;
      justify-content: center;
      align-items: center;
      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 105px;
        margin: 0px auto;
        background-color: var(--primary-accent-color);
      }
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 105px;
        margin: 0px auto;
        background-color: var(--primary-accent-color);
      }
    }
    
  }
  .middle-container { 
    display: flex;
    flex-direction: column;
    // width: 80vw;
    .banner {
      margin: 14% 5%;
      height: 45vh;
      font-family: 'Quicksand', sans-serif;
      .salutation {
        font-size: 5vmin;
        font-weight: 300;
        color: var(--secondary-accent-color2);
      }
      .primary-text {
        font-size: 12vmin;
        font-weight: 300;
        color: var(--primary-accent-color);
      }
      .secondary-text {
        font-size: 4vmin;
        font-weight: 300;
        display: flex;
        color: var(--secondary-accent-color2);
        width: fit-content;
      }
      .intro {
        width: 60vw;
        font-size: 4vmin;
        padding: 20px 0;
      }
    }
  
    .secondary-container {
      margin-left: 5%;
      font-family: 'Rubik', sans-serif;
      .section-container {
        float: left;
        width: 75vw;
        .section-header {
          font-size: 5vmin;
          color: var(--primary-accent-color);
        }
      }
    }
    .footer {
      font-family: 'Rubik', sans-serif;
      font-size: 2vmin;
      display: flex;
      margin-top: 8vh;
      color: var(--primary-accent-color);
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .right-container {
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      height: -webkit-fill-available;  
      justify-content: center;
      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 105px;
        margin: 0px auto;
        background-color: var(--primary-accent-color);
      }
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 105px;
        margin: 0px auto;
        background-color: var(--primary-accent-color);
      }
    }
  }

  &.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./layer-back.svg');
  }


}
@media only screen and (max-width: 600px) {
  .main-container {
    padding: 10% 3%;
    .middle-container { 
      .banner {
        margin: 5%;
        height: 28vh;
        .salutation {
          font-size: 4vmin;
        }
        .primary-text {
          font-size: 10vmin;
        }
        .secondary-text {
          font-size: 3vmin;
        }
        .intro {
          font-size: 3vmin;
          width: 75vw;
        }
      }
    }
  }
}
